{% extends 'base.html' %}
{% block username %} Welcome {{username}}! {% endblock %}
{% block myProfile %} active {% endblock %}

{% block scripting %}
   <script type="text/javascript">
  $(function(){
    $("#followButton").click(function(){
        $.ajax({
        url : '/HCG/ajax/followUnfollow',
        data : {
            'followsID' : {{user.id}},
         },
         dataType : 'json',
         success : function(data)
         {
            if(data.responseText == 'followed')
            {
                document.getElementById("followButton").className = "btn btn-secondary";
                document.getElementById("followButton").innerHTML = "Following";
            }
            else
            {
                document.getElementById("followButton").className = "btn btn-primary";
                document.getElementById("followButton").innerHTML = "Follow";
            }
            document.getElementById("followerCount").innerHTML = "<b>" +  data.followerCount + "</b>";
         }
    });
   });
    });
 $(function(){
            $(".likeButton").click(function()
            {
                var self = this;
                $.ajax({
                    url : '/HCG/ajax/likeUnlike/',
                    data : {
                        'dishID' : this.value,
                    },
                    dataType : 'json',
                    success : function(data)
                    {
                        if(data.responseText == 'liked')
                        {
                            self.innerHTML = "<i class=\"fa fa-thumbs-up fa-2x\" ></i>";
                            document.getElementById("ratingDisplay" + self.value).innerHTML = "Rating: " + data.newRating;
                        }
                        else
                        {
                            self.innerHTML = "<i class=\"fa fa-thumbs-o-up fa-2x\" ></i>";
                            document.getElementById("ratingDisplay" + self.value).innerHTML = "Rating: " + data.newRating;
                        }
                    }

                });
            });
        });

</script>
{% endblock %}

{% block body %}

<br>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h2 id="text" class="display-3"> {{ user.username }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <h2><small> {{ user.email }} </small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <table class="table" align="center" style="text-align:center">
            <thead class="thead-inverse" style="text-align:center">
            <tr>
            <th style="text-align:center">RECIPIES</th>
            <th style="text-align:center">FOLLOWERS</th>
            <th style="text-align:center">FOLLOWING</th>
            </tr>
            </thead>

            <tbody style="align:center">
            <tr>
                <td class="table-active"><b>{{ recipieCount }}</b></td>
                <td class="table-active" id="followerCount"><b> {{ followerCount }} </b></td>
                <td  class="table-active"><b> {{ followsCount }} </b></td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>

    {% if selfProfile == False %}
        {% if following == True %}
            <button id = "followButton" class="btn btn-secondary followButton">Following</button>
        {% endif %}
        {% if following == False %}
            <button id="followButton"  class="btn btn-primary followButton">Follow</button>
        {% endif %}
        <a href="/HCG/draftMessage/{{ user.id }}" class="btn btn-primary">Message</a>
    {% endif %}
</div>
<br>

<div class="container">

    <div class="row">
        <div class="card-columns" style="display:inline-block;">
            {% for dishLikePair in dishLikePairs %}

    <div class="card" style="margin-left=200x;">
        <img src="{{dishLikePair.0.dishCoverImage.url}}" class="img-fluid">
        <div class="card-block">
        <h4 class="card-title">{{dishLikePair.0.dishName}}( {{dishLikePair.0.dishCategory}} )</h4>
        <p class="card-text">by {{dishLikePair.0.dishPublisher.username}}</p>

        <div class="text-center">
        <!-- View Details -->
        <a href="/HCG/{{dishLikePair.0.id}}" class="btn btn-primary">View Details</a>


        <button value="{{dishLikePair.0.id}}" class="btn btn-default btn-sm likeButton">
         {% if dishLikePair.1 == 0 %}
                <i class="fa fa-thumbs-o-up fa-2x"></i>
        {% endif %}
        {% if dishLikePair.1 == 1 %}
                <i class="fa fa-thumbs-up fa-2x"></i>
        {% endif %}
        </button>
            
        <!-- Delete Dish -->
        {% if username == dishLikePair.0.dishPublisher.username %}
        <form action="/HCG/deleteDish/{{dishLikePair.0.id}}/" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ album.id }}" />
            <button type="submit" class="btn btn-default btn-sm">
                <i class="fa fa-trash fa-2x"></i>
            </button>
        </form>

        <!-- Edit Dish -->
        <form action="/HCG/updateDish/{{dishLikePair.0.id}}/" method="get" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="album_id" value="{{ album.id }}" />
            <button type="submit" class="btn btn-default btn-sm">
                <i class="fa fa-edit fa-2x"></i>
            </button>
        </form>
        </div>
        {% endif %}

        <h2 id="ratingDisplay{{dishLikePair.0.id}}" >Rating: {{dishLikePair.0.dishRating}}</h2>
        </div>
    </div>



    {% endfor %}
        </div>
    </div>


</div>

{% endblock %}